<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grant Application Form - Sustainable Medical Missions</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="site.css">
</head>

<body>
    {% include header.html %}
    <div class="container">
<main role="main" class="pb-3">

    <div>
        <h1>Formulaire de Demande de Subvention</h1>
        <form method="POST" action="/Home/Post" id="grantForm">
            <fieldset class="form-group">
                <legend>Contact Principal</legend>
                <label for="PrimaryContact.Name">Nom</label>
                <input type="text" class="form-control" id="PrimaryContact.Name" name="PrimaryContact.Name" />
                <label for="PrimaryContact.Email">Email</label>
                <input type="email" class="form-control" id="PrimaryContact.Email" name="PrimaryContact.Email" />
                <label for="PrimaryContact.Phone">Téléphone</label>
                <input type="text" class="form-control" id="PrimaryContact.Phone" name="PrimaryContact.Phone" />
            </fieldset>
            <fieldset class="form-group">
                <legend>Responsable Médical</legend>
                <label for="MedicalLeader.Name">Nom</label>
                <input type="text" class="form-control" id="MedicalLeader.Name" name="MedicalLeader.Name">
                <label for="MedicalLeader.Email">Email</label>
                <input type="email" class="form-control" id="MedicalLeader.Email" name="MedicalLeader.Email">
                <label for="MedicalLeader.Phone">Téléphone</label>
                <input type="text" class="form-control" id="MedicalLeader.Phone" name="MedicalLeader.Phone">
            </fieldset>
            <fieldset class="form-group">
                <legend>Responsable Religieux</legend>
                <label for="FaithLeader.Name">Nom</label>
                <input type="text" class="form-control" id="FaithLeader.Name" name="FaithLeader.Name">
                <label for="FaithLeader.Email">Email</label>
                <input type="email" class="form-control" id="FaithLeader.Email" name="FaithLeader.Email">
                <label for="FaithLeader.Phone">Téléphone</label>
                <input type="text" class="form-control" id="FaithLeader.Phone" name="FaithLeader.Phone">
            </fieldset>
            <fieldset class="form-group">
                <legend>Localisation du Projet</legend>
                <label for="Location.RegionCity">Région/Ville</label>
                <input type="text" class="form-control" name="Location.RegionCity" id="Location.RegionCity">
                <label for="Location.Country">Pays</label>
                <input type="text" class="form-control" id="Location.Country" name="Location.Country">
            </fieldset>
            <fieldset class="form-group">
                <legend>Impact Prévu</legend>
                <label for="Impact.DirectCare">Nombre de personnes recevant des soins directs</label>
                <input class="form-control" type="text" name="Impact.DirectCare" id="Impact.DirectCare">
                <label for="Impact.Educated">Nombre de personnes formées</label>
                <input type="text" class="form-control" name="Impact.Educated" id="Impact.Educated">
                <label for="Impact.Trained">Nombre de personnes entraînées</label>
                <input type="text" class="form-control" name="Impact.Trained" id="Impact.Trained">
            </fieldset>
            <fieldset class="form-group">
                <legend>Fonds du Projet</legend>
                <label for="Funds.Requested">Montant demandé</label>
                <input type="text" class="form-control" name="Funds.Requested" id="Funds.Requested">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="Funds.Local" name="Funds.Local" />
                    <label class="form-check-label" for="Funds.Local">
                        Y aura-t-il une contribution locale ?
                    </label>
                </div>
                <label for="Funds.LocalDescription">
                    Description de la Contribution Locale (biens ou argent)
                </label>
                <input type="text" class="form-control" id="Funds.LocalDescription" name="Funds.LocalDescription">
            </fieldset>
            <fieldset class="form-group">
                <legend>Résumé du Projet</legend>
                <label>
                    Décrivez ce que vous et votre équipe prévoyez de faire avec votre projet. (Note :
                    Vous pouvez fournir quelques détails de contexte, mais restez très bref)
                    <textarea name="Summary" class="form-control" rows="5"></textarea>
                </label>
            </fieldset>
            <fieldset class="form-group">
                <legend>Responsabilité</legend>
                <label>
                    Qui d'autre dans la communauté pourra confirmer que les fonds ont été utilisés comme décrit ? Quelles mesures sont en place pour assurer l'intégrité des fonds ?
                    <textarea class="form-control" name="Accountability" rows="5"></textarea>
                </label>
            </fieldset>
            <fieldset class="form-group">
                <legend>Collaboration</legend>
                <label>
                    Quelles autres organisations ou groupes sont impliqués ? Quelle église est impliquée dans le projet ? Comment la communauté locale sera-t-elle engagée ?
                    <textarea class="form-control" name="Collaboration" rows="5"></textarea>
                </label>
            </fieldset>
            <fieldset class="form-group">
                <legend>Durabilité</legend>
                <label>
                    Comment le projet et les activités connexes se poursuivront-ils une fois les fonds épuisés ?
                    <textarea class="form-control" name="Sustainability" rows="5"></textarea>
                </label>
            </fieldset>
            <fieldset class="form-group">
                <legend>Innovation</legend>
                <label>
                    Qu'est-ce qui est unique dans ce projet ? (Cela peut être une idée entièrement nouvelle ou simplement nouvelle pour une région)
                    <textarea class="form-control" name="Innovation" rows="5"></textarea>
                </label>
            </fieldset>
            <fieldset class="form-group">
                <legend>Diffusion de l'Évangile</legend>
                <label>Comment ce projet favorise-t-il la diffusion de l'Évangile ?
                    <textarea class="form-control" name="GospelSpreading" rows="5"></textarea>
                </label>
            </fieldset>
            <h2>Zero in on Zero</h2>
            <p>
                Veuillez remplir le formulaire pour CHAQUE maladie que vous prévoyez de traiter dans votre projet. Vous aurez besoin d'un plan DISTINCT pour chaque maladie. Vous pouvez emprunter aux présentations de SMM pour compléter cela avec des plans basés sur des preuves, et vous pouvez ajouter des parties pour les adapter à votre culture. Mais, ces plans doivent tous être testables et vérifiables. Rappelez-vous : Les plans Zero in on Zero concernent le "Quoi" faire et non le "Comment" le faire. Le "Comment" correspond à votre plan d'exécution. Ce n'est pas une chronologie. Vous devez décider de ce qu'il faut faire "Avant le traitement", "Pendant le traitement", et "Après le traitement". Astuce : Certains éléments liés à la communauté, à l'éducation et aux comportements peuvent apparaître à la fois avant et après. Si vous prévoyez de traiter plus de deux maladies, vous pouvez copier l'une des pages suivantes pour compléter vos plans Zero in on Zero.
            </p>
            <!-- Rest of the form remains unchanged -->
        </form>
    </div>
</main>
    </div>

    {% include footer.html %}
</body>

</html>
