<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Policies and Procedures - Sustainable Medical Missions</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="site.css" />
</head>

<body>
    {% include header.html %}

    <div class="container">
        <main role="main" class="pb-3">
            <h1 class="display-4">Politiques et Procédures</h1>
            <div id="text">
                <dl>
                    <dt>Qui est éligible ?</dt>
                    <dd>Les individus qui ont assisté à une conférence de Sustainable Med. Ils doivent également résider dans le pays où la subvention sera administrée.</dd>
                    <dt>Que finançons-nous ?</dt>
                    <dd>Les projets qui feront progresser la vision et les objectifs de Sustainable Medical Missions. La priorité sera accordée aux projets qui abordent spécifiquement les maladies tropicales négligées (MTN) et les conditions associées, ainsi qu’au renforcement des partenariats entre la communauté de la santé et les églises locales. Tous les projets doivent être liés à l'amélioration de la santé communautaire ou des soins médicaux.</dd>
                    <dt>Que ne finançons-nous pas ?</dt>
                    <dd>Les activités sans lien avec les soins de santé ou la promotion de l'Évangile. Les activités qui excluent ou causent du tort à des personnes en raison de leur sexe, race, religion, ethnie, classe ou orientation sexuelle. Les fonds ne peuvent pas être utilisés pour offrir ou fournir de l'argent, des cadeaux ou d'autres choses de valeur directement ou indirectement à quiconque pour influencer de manière inappropriée une action ou une décision relative à Sustainable Med ou au projet, y compris aider une partie à obtenir un avantage injuste. Les fonds ne peuvent pas être utilisés pour des dépenses personnelles (logement, nourriture et vêtements) ou pour un gain personnel.</dd>
                    <dt>Comment quelqu'un peut-il postuler pour des fonds ?</dt>
                    <dd>Les candidats doivent remplir une proposition de deux pages maximum (recto, interligne simple, police de 10 pts ou plus). Les citations et références sont encouragées et peuvent être incluses en plus des deux pages de la candidature. Veuillez décrire les points suivants : Quelle est votre idée ? Quel est l'impact ou le résultat prévu ? Comment allez-vous tester ou mesurer cela ? Quel est votre tableau « Zero in on Zero » pour la/les maladie(s) ?</dd>
                    <dd>Les propositions doivent être soumises à Sustainable Med pour examen. Les soumissions doivent être envoyées par courriel à <a href="mailto:grants@sustainablemed.org">grants@sustainablemed.org</a> ou par courrier à P.O. Box 498493, Cincinnati, OH, 45249, USA.</dd>
                    <dt>Quand peuvent-ils postuler pour des fonds ?</dt>
                    <dd>Les candidatures peuvent être soumises à tout moment, mais elles doivent toutes être reçues avant le 1er septembre de chaque année.</dd>
                    <dt>À quelle fréquence quelqu'un peut-il postuler pour des fonds ?</dt>
                    <dd>Deux fois par an.</dd>
                    <dt>Y a-t-il un montant maximum pour la subvention ? Si oui, combien ?</dt>
                    <dd>Le montant moyen de la subvention sera de 500 à 2 000 USD pour les premières subventions et les projets pilotes. Ceux qui ont mené à bien leurs projets pilotes avec Sustainable Med et passent à une échelle plus grande peuvent demander des subventions plus importantes, avec un montant maximum d'environ 10 000 USD.</dd>
                    <dt>Quels sont les critères de sélection ?</dt>
                    <dd>Les critères suivants seront utilisés pour déterminer les subventions accordées (tous les critères ont la même importance) :
                        <ol>
                            <li>Responsabilité – Qui d'autre dans la communauté pourra confirmer que les fonds ont été utilisés comme prévu ? Quelles mesures sont en place pour assurer l'intégrité des fonds ?</li>
                            <li>Collaboration – Quelles autres organisations ou groupes sont impliqués ? Quelle église est impliquée dans le projet ? Comment la communauté locale sera-t-elle engagée ?</li>
                            <li>Durabilité – Comment le projet et les activités connexes se poursuivront-ils une fois les fonds de la subvention épuisés ?</li>
                            <li>Innovation – Qu'est-ce qui est unique dans ce projet ? (Peut être une idée totalement nouvelle ou simplement nouvelle pour une région)</li>
                            <li>Diffusion de l'Évangile – Comment ce projet favorise-t-il la diffusion de l'Évangile ?</li>
                            <li>Clarté – Les idées et concepts sont-ils clairement décrits avec des plans concrets ?</li>
                            <li>Impact – Nombre de personnes affectées par le projet.</li>
                        </ol>
                    </dd>
                    <dt>Quels rapports seront requis ?</dt>
                    <dd>Établir et maintenir des relations est une valeur clé pour Sustainable Medical Missions. Ainsi, une communication régulière est essentielle. Tous les bénéficiaires de subventions devront communiquer au moins une fois par mois avec le personnel de Sustainable Med par courriel, téléphone, visioconférence ou réseaux sociaux. Un rapport final (2-3 pages, interligne simple, recto, police de 10 pts ou plus) sera requis dans les 60 jours suivant la fin de la subvention. Le formulaire de rapport final sera fourni par Sustainable Med à chaque bénéficiaire et comprendra des questions telles que : Que s'est-il réellement passé avec les fonds de la subvention ? Qui a été impacté ? Qu'est-ce qui a changé grâce à la subvention (résultats) ? Quels obstacles avez-vous rencontrés ? Quelle est la prochaine étape pour les activités du projet et les communautés desservies ?</dd>
                    <dd>Les bénéficiaires de subventions qui ne maintiennent pas une communication régulière ou qui ne terminent pas le rapport final en temps opportun risquent de ne pas être éligibles pour de futures subventions.</dd>
                    <dt>Quand les fonds seront-ils versés ? Combien de périodes de versement (une, deux ou plus) ?</dt>
                    <dd>Le calendrier et les montants des versements seront déterminés selon les besoins de chaque projet, mais généralement les fonds commenceront à être versés au début de l'année suivant la demande de subvention. Par exemple, les subventions soumises et accordées en 2014 commenceront à recevoir des fonds au début de 2015. La plupart des subventions de moins de 1 000 USD recevront un paiement unique. La plupart des subventions comprises entre 1 000 et 9 999 USD recevront deux paiements distincts. Les subventions de 10 000 USD ou plus auront trois périodes de versement ou plus. Le versement de chaque paiement au-delà du premier dépendra de l'accomplissement des objectifs ou livrables définis dans le projet soumis.</dd>
                    <dt>Limite de temps pour terminer les projets ou utiliser les fonds ?</dt>
                    <dd>12 mois, sauf autorisation spéciale du Directeur Exécutif et du Conseil de Sustainable Med.</dd>
                    <dt>Comment les subventions peuvent-elles être utilisées pour la publicité ?</dt>
                    <dd>Sustainable Med peut inclure des informations sur l'attribution de cette subvention, y compris le nom d'une personne, dans ses publications, interventions publiques, déclarations fiscales et autres divulgations publiques. Sustainable Med peut également identifier les autres entités ou ONG avec lesquelles les bénéficiaires de subventions collaboreront. Les personnes recevant des subventions doivent demander l'approbation de Sustainable Med avant toute utilisation publique de notre nom ou marque/logo.</dd>
                    <dt>Comment traitons-nous les modifications budgétaires ou la réaffectation des fonds ?</dt>
                    <dd>Toutes les modifications doivent être soumises à Sustainable Med et une approbation écrite doit être reçue avant l'exécution des modifications budgétaires ou la réaffectation des fonds.</dd>
                </dl>
            </div>
            <p><a class="btn btn-primary" role="button" href="form-fr.html">Accepter les Politiques et Procédures</a></p>
        </main>
            </div>

    {% include footer.html %}
</body>

</html>
