<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{Page Title}} - Sustainable Medical Missions</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="site.css" />
</head>

<body>
    {% include header.html %}

    <div class="container">
        <main role="main" class="pb-3">

        </main>
    </div>

    {% include footer.html %}
</body>

</html>
